    <div ng-controller="addCategoriesController">
      <h1>Add New Category</h1>
      <form role="form">
      <div class="col-md-4 col-sm-4" >

          <div style ="color: #fff;background-color: #1D9E74;">
             <h4 class="text-center">Icon Preview</h4>
            <span style=" height: 280px; padding-top: 100px; padding-left: 150px;" class="center-block fa fa-{{iconName}} fa-5x"></span>
          </div>




      </div>
      <div class="row">
        <div class="col-md-6 pull-left">

          <div class="form-group">

            <label for="">Icon</label><button type="button" ng-click="close()" class="btn btn-danger btn-xs"><i class="fa fa-close"></i></button>
            <input class="form-control" ng-model="iconName"  placeholder="Search icon here" typeahead="icon for icon in icons | filter:$viewValue | limitTo:8">


          </div>
          <div class="form-group">
            <label for="">Category Type</label>
          </div>
          <div class="form-group">

            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Primary"> Primary
            </label>
            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Secondary"> Secondary
            </label>
            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Tertiary"> Tertiary
            </label>
          </div>
          <div class="form-group">
            <label for="">Category name</label>
            <input ng-model="categoryName" class="form-control"  placeholder="Enter Category Name">
          </div>
          <button ng-click="addNewCategory()" type="submit" class="btn btn-default">Add</button>



        </div>

      </div>

    </form>


    </div>
