    <div style="padding-top: 70px;" ng-controller="categoryIconCarousel">
      <h2>Add New Category</h2>
      <form role="form">
      <div class="col-md-4 col-sm-4" >

          <div style ="color: #fff;background-color: #1D9E74;">
             <h4>Icon Preview</h4>
            <span style=" height: 280px; padding-top: 100px;" class="fa fa-{{iconName}} fa-5x"></span>
          </div>




      </div>
      <div class="row">
        <div class="col-md-6 pull-left">

          <div class="form-group">
            <label for="">Icon</label>
            <input class="form-control" ng-model="iconName"  placeholder="Search icon here">
          </div>
          <div class="form-group">
            <label for="">Category Type</label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1"> Primary
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2"> Secondary
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3"> Tertiary
            </label>
          </div>
          <div class="form-group">
            <label for="">Category name</label>
            <input ng-model="categoryName" class="form-control"  placeholder="Enter Category Name">
          </div>
          <button id="addNewCategory" type="submit" class="btn btn-default">Add</button>



        </div>

      </div>

    </form>


    </div>
