<nav></nav>
<h1>My Expenses</h1>
<h2>Total = <i class="fa fa-inr"></i>{{$ctrl.helper.total}}</h2>
<div style="padding: 10px 0;" class="btn-group">
    <label ng-click="$ctrl.showExpensesBy = 'Daily'; $ctrl.getExpenses()" class="btn btn-success" ng-model="$ctrl.showExpensesBy" btn-radio="'Daily'">Daily</label>
    <label ng-click="$ctrl.showExpensesBy = 'Monthly'; $ctrl.getExpenses()" class="btn btn-success" ng-model="$ctrl.showExpensesBy" btn-radio="'Monthly'">Monthly</label>
    <label ng-click="$ctrl.showExpensesBy = 'Yearly'; $ctrl.getExpenses()" class="btn btn-success" ng-model="$ctrl.showExpensesBy" btn-radio="'Yearly'">Yearly</label>
</div>
<form class="form-inline">
    <div class="form-group">
        <label ng-show="$ctrl.buttonsState.showDateField" class="form-control">Date</label>
        <input ng-show="$ctrl.buttonsState.showDateField" type="text" class="form-control" ng-model="$ctrl.currentDay" placeholder="Enter Day eg:8">
        <label ng-show="$ctrl.buttonsState.showMonthField" class="form-control">Month</label>
        <input ng-show="$ctrl.buttonsState.showMonthField" type="text" class="form-control" ng-model="$ctrl.currentMonth" placeholder="Enter Month">
        <label class="form-control">Year</label>
        <input type="text" class="form-control" ng-model="$ctrl.currentYear" placeholder="Enter Year eg:2015">
    </div>
    <button ng-click="$ctrl.getExpenses()" type="submit" class="btn btn-default">Show</button>
</form>

<div ng-hide="$ctrl.helper.isDataLoaded">
    <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
    <span class="sr-only">Please wait while we fetch your data</span>
</div>

<table ng-show="$ctrl.helper.isDataLoaded" class="table table-striped table-hover table-responsive">
    <thead>
        <tr>
            <th>Edit</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Day</th>
            <th>Month</th>
            <th>Year</th>
            <th>Tags</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="expense in $ctrl.helper.expenses">
            <td><button class="btn btn-default" ng-click="open(expense)"><i class="fa fa-edit"></i></button></td>
            <td>{{expense.category.name}}</td>
            <td>{{expense.amount}}</td>
            <td>{{expense.date | limitTo : 2 : 6}}</td>
            <td>{{expense.date | limitTo : 2 : 4}}</td>
            <td>{{expense.date | limitTo : 4 }}</td>
            <td>{{expense.tags}}</td>
            <td><button class="btn btn-default" ng-click="delete(expense)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>


<script type="text/ng-template" id="editExpenseModal.html">
    <div class="modal-header">
        <h3 class="modal-title">Edit Expense</h3>
    </div>
    <div class="modal-body">
        <form role="form">
            <div class="form-group">
                <label for="">Amount</label>
                <input ng-model="editExpenseAmount" class="form-control">
            </div>
            <div class="form-group">
                <label for="">Category</label>
                <input ng-model="editExpenseCategory" class="form-control">
            </div>
            <div class="form-group">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
    <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
    </span>
                </p>
            </div>
            <div class="form-group">
                <label for="">Tags</label>
                <p>{{thisExpenseTags.toString()}}</p>
                <ul id="edit_expense_tag_handler" class="tagHandlerContainer">
                </ul>

            </div>
        </form>

    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="saveEditExpense()">Save</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>

