<nav></nav>
<div class="row">
    <div class="col-md-4">
        <h1>Add an Expense</h1>
        <form name="addExpenseForm" role="form">
            <div class="form-group">
                <label for="">Amount: {{$ctrl.expenseAmount | calculate }}</label>
                <input ng-model="$ctrl.expenseAmount" class="form-control" placeholder="Enter Amount">
            </div>

            <div class="form-group">
                <label for="">Category: <span style="vertical-align: middle;" class="fa fa-{{$ctrl.expenseCategory.icon}} fa-2x"></span> {{$ctrl.expenseCategory.name}}</label>
                <input ng-model="$ctrl.expenseCategory" typeahead="category as category.name for category in $ctrl.categories | filter:$viewValue | limitTo:8" class="form-control" placeholder="Category">

            </div>
            <div class="form-group">
                <label for="">Spent On: {{$ctrl.dt | date}}</label>
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="$ctrl.dt" is-open="$ctrl.opened" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
                    <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.open($event)"><i class="fa fa-calendar"></i></button>
            </span>
                </p>
            </div>
            <div class="form-group">
                <label>Tags:</label>
                <div id="tags" class="input textarea">

                </div>
            </div>

            <button ng-click="$ctrl.addExpense()" type="submit" class="btn btn-default">Save Expense</button>
        </form>
    </div>
    <div class="col-md-8">
        <h1>My Last 5 expenses</h1>
        <div ng-repeat="expense in $ctrl.expenses | limitTo : -5">

            <div class="well">Amount: {{expense.amount}}
                <br> SpentOn: {{expense.day}}/{{expense.month}}/{{expense.year}}
                <br> Category: <span style="vertical-align: middle;" class="fa fa-{{expense.category.icon}} fa-2x"></span> {{expense.category.name}}
                <br> Tags: {{expense.tags}}

            </div>
        </div>
    </div>

</div>

<!--    FUTURE : Clear category field = NICE TO HAVE -->
<!-- TODO date is coming with time on intial loading of add expense page, no problem for functionality only UI Issue-->
